@import "tailwindcss";

@theme {
    --color-primary: #1F2A44;
    --color-primary-subtle: #34446B;
    --color-secondary: #B49C7A;
    --color-secondary-bold: #BC9156;
    --color-light-blue: #D9E9FF;
    --color-shade-50: #F8F8F8;
}

html[data-theme='light'] {
  --bg: #F8F8F8;
  --text: #1F2A44;
  --icon-color: var(--color-primary);
  --icon-hover: var(--color-secondary);
}

html[data-theme='dark'] {
  --bg: #1F2A44;
  --text: #F8F8F8;
  --icon-color: var(--color-shade-50);
  --icon-hover: var(--color-secondary);
}