/* Import Tailwind styles */
@import "tailwindcss";

@theme {
    --color-primary: #1F2A44;
    --color-primary-subtle: #34446B;
    --color-secondary: #B49C7A;
    --color-secondary-bold: #BC9156;
    --color-light-blue: #D9E9FF;
    --color-shade-50: #F8F8F8;
}